body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(102, 100, 100);
}
html{
    scroll-behavior: smooth;
}

.header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
    opacity: 1;
}
.header h2{
    margin-left: 20px;
    position: absolute;
}
.header ul{
    display: flex;
    gap: 30px;
    justify-content: end;
    margin-bottom: 20px;
    font-size: 20px;
}
ul a{
    text-decoration: none;
    color: black;
}
ul a li{
    list-style: none;
    text-decoration: none;
    color: purple;
}
.progress-container{
    width: 100%;
    height: 8px;
}
.progress-bar{
    height: 4px;
    background: purple;
    width: 0%;
    top: 0;
    position: absolute;
}
.content {
    width: 80%;
    margin-top: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12rem;
    flex-direction: column;
    padding-bottom: 16rem;
  }
.content p{
    font-size: larger;
    justify-content: space-between;
    max-width: 900px;
    line-height: 40px;
}
img{
    margin-top: 2.4rem;
    border-radius: 3rem;
    border: 10px solid purple
}
.tag{
    font-size: 50px;
    color: purple;
}
.top-button {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 50px;
    height: 50px;
    font-size: 1.6rem;
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;

  }
  .hide{
    display: none;
  }

  .mk-link {
    /* position: fixed; */
    justify-content: baseline;
    display: flex;
    text-align: center;
    cursor: pointer;
  }
  
  .hardelz {
    width: 30px;
    height: 30px;
    margin-right: 130px;
  }
  .press{
    width: 300px;
    position: absolute; 
    margin-left: 40px;
  }